In [1]:
# coding:utf-8

import pandas as pd
import numpy as np
import os,sys
from multiprocessing import Pool
import matplotlib.pyplot as plt

In [24]:
al = pd.read_csv('../datas/all.csv')
al.head()

,hour,hour_v,hour_v_cnt,hour_v_cnt_rate,id,is_risk,rowkey,time,trade_cnt,trade_stamp,...,iptype_time_max2,iptype_time_mean0,iptype_time_mean1,iptype_time_mean2,iptype_time_min0,iptype_time_min1,iptype_time_min2,timestamp_online0,timestamp_online1,timestamp_online2
0,0,0,0,0.0,148255,0,470740,2015-04-01 00:00:44.0,3,1.427818e+09,...,NaN,5883.0,8000.000000,NaN,5883.0,8000.0,NaN,1.427439e+09,1.427441e+09,1.427439e+09
1,0,0,1,0.2,148255,0,470746,2015-04-01 00:01:16.0,4,1.427818e+09,...,NaN,5883.0,8000.000000,NaN,5883.0,8000.0,NaN,1.427439e+09,1.427441e+09,1.427439e+09
2,0,0,0,0.0,17271,0,470754,2015-04-01 00:02:34.0,0,1.427818e+09,...,9000.0,7500.0,7333.333333,7000.0,5000.0,5000.0,5000.0,1.427818e+09,1.427819e+09,1.427809e+09
3,0,0,0,0.0,125402,0,470757,2015-04-01 00:03:08.0,0,1.427818e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.427785e+09,1.427310e+09,1.427055e+09
4,0,0,1,0.2,16888,0,470759,2015-04-01 00:03:38.0,4,1.427818e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
al.shape

(82228, 625)

In [27]:
al[al['time']<'2015-06-01 00:00:00.0'].shape

(36231, 625)

In [28]:
al[(al['time']<'2015-07-01 00:00:00.0')&(al['time']>='2015-06-01 00:00:00.0')].shape

(28122, 625)

In [29]:
al[al['time']>='2015-07-01 00:00:00.0'].shape

(17875, 625)

In [25]:
al = al.fillna(method='bfill')
al.head()

,hour,hour_v,hour_v_cnt,hour_v_cnt_rate,id,is_risk,rowkey,time,trade_cnt,trade_stamp,...,iptype_time_max2,iptype_time_mean0,iptype_time_mean1,iptype_time_mean2,iptype_time_min0,iptype_time_min1,iptype_time_min2,timestamp_online0,timestamp_online1,timestamp_online2
0,0,0,0,0.0,148255,0,470740,2015-04-01 00:00:44.0,3,1.427818e+09,...,9000.0,5883.0,8000.000000,7000.0,5883.0,8000.0,5000.0,1.427439e+09,1.427441e+09,1.427439e+09
1,0,0,1,0.2,148255,0,470746,2015-04-01 00:01:16.0,4,1.427818e+09,...,9000.0,5883.0,8000.000000,7000.0,5883.0,8000.0,5000.0,1.427439e+09,1.427441e+09,1.427439e+09
2,0,0,0,0.0,17271,0,470754,2015-04-01 00:02:34.0,0,1.427818e+09,...,9000.0,7500.0,7333.333333,7000.0,5000.0,5000.0,5000.0,1.427818e+09,1.427819e+09,1.427809e+09
3,0,0,0,0.0,125402,0,470757,2015-04-01 00:03:08.0,0,1.427818e+09,...,5990.0,8000.0,9864.500000,5990.0,8000.0,5990.0,5990.0,1.427785e+09,1.427310e+09,1.427055e+09
4,0,0,1,0.2,16888,0,470759,2015-04-01 00:03:38.0,4,1.427818e+09,...,5990.0,8000.0,9864.500000,5990.0,8000.0,5990.0,5990.0,1.427821e+09,1.427823e+09,1.427809e+09

In [5]:
l = al.shape[0]

In [3]:
cols = al.columns

In [6]:
a = pd.isnull(al).sum(axis=1)

In [21]:
max(a)

612

In [9]:
ad = dict(zip(cols,a))

In [11]:
for ki in ad:
    ad[ki] = 1.0*ad[ki]/l

In [19]:
res = []
for ki in ad:
    if ad[ki] > 0.2:
        res.append(ki)

In [20]:
len(res)

0